@model AppUser
@{
    ViewData["Title"] = "Admin Yarat";
}

<form method="post">
  <div class="form-group">
    <label asp-for="@Model.Name">Ad</label>
    <input asp-for="@Model.Name" class="form-control">
    <span class="text-danger" asp-validation-for="@Model.Name"></span>
  </div>
  <div class="form-group">
    <label asp-for="@Model.Surname">Surname</label>
    <input asp-for="@Model.Surname" class="form-control">
    <span class="text-danger" asp-validation-for="@Model.Surname"></span>
  </div>
  <div class="form-group">
    <label asp-for="@Model.UserName">UserName</label>
    <input asp-for="@Model.UserName" class="form-control">
    <span class="text-danger" asp-validation-for="@Model.UserName"></span>
  </div>
  <div class="form-group">
    <label asp-for="@Model.Email">Email</label>
    <input asp-for="@Model.Email" class="form-control">
    <span class="text-danger" asp-validation-for="@Model.Email"></span>
  </div>
  <button type="submit" class="btn btn-primary">Yarat</button>
  <a asp-action="Index" class="btn btn-primary">Geri</a>
</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}