@model List<UserVM>
@{
    ViewData["Title"] = "Hesablar";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Hesablar</h4>
                    <a asp-action="CreateUser" class="btn btn-outline-primary" style="color:white !important">Yarat</a>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-dark" style="color:white !important">
                        <thead>
                            <tr>
                                <th style="color:orange !important">
                                    Ad Soyad
                                </th>
                                <th style="color:orange !important">
                                    İstifadəçi Adı
                                </th>
                                <th style="color:orange !important">
                                    Email
                                </th>
                                <th style="color:orange !important">
                                    İstifadəçi Rolu
                                </th>
                                <th style="color:orange !important">
                                    Status
                                </th>
                                <th style="color:orange !important">
                                    Əməliyyatlar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserVM userVM in Model)
                            {
                                <tr>

                                    <td style="color:white !important">
                                        @userVM.Fullname
                                    </td>
                                    <td style="color:white !important">
                                        @userVM.Username
                                    </td>
                                    <td style="color:white !important">
                                        @userVM.Email
                                    </td>
                                    <td>
                                        @if (userVM.Role == "SuperAdmin")
                                        {
                                            <span class="text-success">@userVM.Role</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">@userVM.Role</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!userVM.IsDeactive)
                                        {
                                            <span class="text-success">Aktiv</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Deaktiv</span>
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="UpdateUsernameAndEmail" asp-route-id="@userVM.Id" class="btn btn-outline-info" style="margin-right:10px; color:white !important">Yenilə</a>
                                        <a asp-action="ResetPassword" asp-route-id="@userVM.Id" class="btn btn-outline-success" style="margin-right:10px; color:white !important">Şifrəni dəyiş</a>
                                        @if (User.Identity.Name != userVM.Username)
                                        {
                                            @*<a asp-action="ChangeRole" asp-route-id="@userVM.Id" class="btn btn-outline-info" style="margin-right:10px; color:white !important">Rolu dəyiş</a>*@
                                            
                                            @if (!userVM.IsDeactive)
                                            {
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-outline-danger" style="margin-right:10px; color:white !important" data-toggle="modal" data-target="#user-@userVM.Id">
                                                    Deaktiv Et
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="user-@userVM.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h3>Deaktiv etmək istədiyinizə əminsiniz ? </h3>
                                                                <a asp-action="Activity" asp-route-id="@userVM.Id" class="btn btn-outline-success" style="margin-right:10px; color:white !important">Bəli</a>
                                                                <button type="button" class="btn btn-outline-danger" style="margin-right:10px; color:white !important" data-dismiss="modal">Xeyr</button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                            else
                                            {
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-outline-success" style="margin-right:10px; color:white !important" data-toggle="modal" data-target="#user-@userVM.Id">
                                                    Aktiv
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="user-@userVM.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h3>Aktiv etmək istədiyinizə əminsiniz ?</h3>
                                                                <a asp-action="Activity" asp-route-id="@userVM.Id" class="btn btn-outline-success" style="margin-right:10px; color:white !important">Bəli</a>
                                                                <button type="button" class="btn btn-outline-danger" style="margin-right:10px; color:white !important" data-dismiss="modal">Xeyr</button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        }

                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="color:orange !important">
                                    Ad Soyad
                                </th>
                                <th style="color:orange !important">
                                    İstifadəçi Adı
                                </th>
                                <th style="color:orange !important">
                                    Email
                                </th>
                                <th style="color:orange !important">
                                    İstifadəçi Rolu
                                </th>
                                <th style="color:orange !important">
                                    Status
                                </th>
                                <th style="color:orange !important">
                                    Əməliyyatlar
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
