@model Employee
@{
    ViewData["Title"] = "İşçi Təfərrüatı";
}

<h1>@Model.Name</h1>
<h1>@Model.Surname</h1>
<h1>@Model.PhoneNumber</h1>
<h1>@Model.DateOfBirth</h1>
<h1>@Model.Position.PositionName</h1>
<h1>@Model.Salary</h1>
@*<h1>@Model.IsDeactive</h1>*@
